.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_container {
    background-color: $white;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    margin: 0 0 20px;
    padding: 24px 20px;

    &_title {
      margin: 0;
      padding: 0 0 10px;
    }

    &.--commentPost {
      margin: 20px calc(-50vw + 50%) 0;
      padding: 10px calc(-33vw + 50%) 20px;

      .posts_container_title {
        font-size: 3em;
      }
    }

    &_body {
      &:nth-child(odd) {
        background-color: #d6d6d6;
      }
    }

    &_display-comments {
      cursor: pointer;
      font-size: $font-size-small;
      margin-top: auto;
      text-decoration: underline;
      padding: 10px 0 0;

      &:hover {
        color: $secondary-blue;
      }
    }
  }

  &_comments {
    &_inner-container {
      margin: 10px 0;
    }

    &_row {
      padding: 10px 15px 5px;

      &:nth-child(odd) {
        background-color: #d6d6d6;
      }

      &_content {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 1240px) {
  .posts {
    &_container {
      flex: 0 1 18%;

      // &.--commentPost {
      //   padding: 24px;
      //   // padding: 10px calc(-40vw + 50%) 20px;
      // }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .posts {
    &_container {
      flex: 0 1 18%;

      &.--commentPost {
        padding: 24px;
        // padding: 10px calc(-40vw + 50%) 20px;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .posts {
    &_container {
      flex: 0 1 40%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .posts {
    &_container {
      flex: 0 1 100%;

      // &.--commentPost {
      //   padding: 24px;
      //   // padding: 10px calc(-40vw + 50%) 20px;
      // }
    }
  }
}
