.posts {
  &_container {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;

    &.--commentPost {
      border-bottom: 2px dotted $dark-grey;
      padding: 10px 0;
    }

    &_title {
      margin: 0;
    }

    &_body {
      &:nth-child(odd) {
        background-color: #d6d6d6;
      }
    }

    &_display-comments {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $secondary-blue;
      }
    }
  }

  &_comments {
    &_row {
      padding: 10px 15px 5px;

      &:nth-child(odd) {
        background-color: #d6d6d6;
      }

      &_content {
        display: flex;
      }
    }
  }
}
