@import "./_variables";
@import "./html-components";

// Components
@import "./components/Details";
@import "./components/Posts";
@import "./components/UserForm";

body {
  background: #e8e8e8;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 90px;

  header {
    margin: 0 0 20px;

    nav {
      display: flex;
      justify-content: space-between;
    }
  }

  .loader {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  .view-container {
    padding: 10px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .app {
    margin: 0;
  }
}
